<!DOCTYPE html>
<html>
<head>
  <title>Guess the Number!</title>
</head>
<body>
<h1>Guess the Number!</h1>

<p>
  We picked a number from 1-10:
  try to guess the number!
</p>

<% if (message) { %>
  <p>
    <%= message %>
  </p>
<% } %>

<form action="/guess" method="POST">
  <input type="text" name="num" />
  <input type="submit" value="Guess!" />
</form>

</body>
</html>
